In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

In [2]:
%load_ext sql
import pandas as pd
import numpy as np

## [insert name] Database Schema

![dbSchema](159739A3Schema.jpg)

### High Level Description of [insert Name] Database

#### Players
Stores information about tennis players, including their unique PlayerID, Name, Ranking, Points, and details about whether they have wealthy parents and if their parents are mentioned on Wikipedia.

#### Matches
This table contains details about individual tennis matches, including MatchID, LocationID, TournamentID, CourtID, SurfaceID, RoundID, BestOf (the number of sets required to win the match), WinLoseName (the players' name), WLRank (the opponent's ranking), WPts (the opponent's ranking points), WLsets (the number of sets won and lost), Comment, AvgWL (average winning likelihood), and Win (indicating if the player won the match).

#### Locations
Represents the locations where tennis matches take place. It includes LocationID and Name.

#### Tournaments
Stores information about tennis tournaments; TournamentID, Name, and Tier (the level or category of the tournament, such as International, Grand Slam, etc.).

#### Courts
Describes the types of courts used in tennis matches. It includes CourtID and Type (e.g., Outdoor, Indoor).

#### Surfaces
Contains information about the playing surfaces used in tennis matches, such as SurfaceID and Type (e.g., Hard, Clay, Grass).

#### Rounds
Represents the different rounds or stages within a tennis tournament. It includes RoundID and Name (e.g., 1st Round, Quarterfinals, Finals).

#### PlayerMatches
This table establishes the one-to-many relationships between players and matches. It includes PlayerMatchID (a unique identifier for the relationship), PlayerID (referencing the Players table), and MatchID (referencing the Matches table.

## Connect to DB and Create Tables

In [4]:
%sql sqlite:///./158739Assignment3

In [19]:
%%sql sqlite:///./158739Assignment3

DROP TABLE IF EXISTS Courts;
CREATE TABLE "Courts" (
"CourtID" INTEGER NOT NULL UNIQUE,
"Type" TEXT,
PRIMARY KEY("CourtID" AUTOINCREMENT)
)

Done.
Done.

[]

In [18]:
%%sql sqlite:///./158739Assignment3

DROP TABLE IF EXISTS Locations;

CREATE TABLE "Locations" (
"LocationID" INTEGER NOT NULL UNIQUE,
"Name" TEXT,
PRIMARY KEY("LocationID" AUTOINCREMENT)
)

Done.
Done.

[]

In [21]:

%%sql sqlite:///./158739Assignment3

DROP TABLE IF EXISTS Matches;
    CREATE TABLE "Matches" (
"MatchID"	INTEGER NOT NULL UNIQUE,
"LocationID"	INTEGER,
"TournamentID"	INTEGER,
"CourtID"	INTEGER,
"SurfaceID"	INTEGER,
"RoundID"	INTEGER,
"BestOf"	INTEGER,
"WinLoseName"	TEXT,
"WLRank"	INTEGER,
"WPts"	INTEGER,
"WLsets"	INTEGER,
"Comment"	TEXT,
"AvgWL"	REAL,
"Win"	INTEGER,
"PlayerID"	INTEGER,
FOREIGN KEY("PlayerID") REFERENCES "Players"("PlayerID"),
PRIMARY KEY("MatchID" AUTOINCREMENT)
)

Done.
Done.

[]

In [22]:
%%sql sqlite:///./158739Assignment3

DROP TABLE IF EXISTS PlayerMatches;
CREATE TABLE "PlayerMatches" (
"PlayerMatchID"	INTEGER NOT NULL UNIQUE,
"PlayerID"	INTEGER,
"MatchID"	INTEGER,
FOREIGN KEY("PlayerID") REFERENCES "Players"("PlayerID"),
FOREIGN KEY("MatchID") REFERENCES "Matches"("MatchID"),
PRIMARY KEY("PlayerMatchID" AUTOINCREMENT)
)

Done.
Done.

[]

In [23]:
%%sql sqlite:///./158739Assignment3

DROP TABLE IF EXISTS Players;
CREATE TABLE "Players" (
"PlayerID"	INTEGER NOT NULL UNIQUE,
"Name"	TEXT,
"Ranking"	INTEGER,
"Points"	INTEGER,
"WealthyParents"	INTEGER,
"ParentOnWiki"	INTEGER,
PRIMARY KEY("PlayerID" AUTOINCREMENT)
)

Done.
Done.

[]

In [24]:

%%sql sqlite:///./158739Assignment3

DROP TABLE IF EXISTS Rounds;
CREATE TABLE "Rounds" (
"RoundID"	INTEGER NOT NULL UNIQUE,
"Name"	TEXT,
PRIMARY KEY("RoundID" AUTOINCREMENT)
)

Done.
Done.

[]

In [25]:
%%sql sqlite:///./158739Assignment3

DROP TABLE IF EXISTS Surfaces;
CREATE TABLE "Surfaces" (
"SurfaceID"	INTEGER NOT NULL UNIQUE,
"Type"	TEXT,
PRIMARY KEY("SurfaceID" AUTOINCREMENT)
)

Done.
Done.

[]

In [26]:

%%sql sqlite:///./158739Assignment3

DROP TABLE IF EXISTS Tournaments;

CREATE TABLE "Tournaments" (
"TournamentID"	INTEGER NOT NULL UNIQUE,
"Name"	TEXT,
"Tier"	TEXT,
PRIMARY KEY("TournamentID" AUTOINCREMENT)
)

Done.
Done.

[]

## Import data into tables

In [3]:
# import CSV into a dataframe
# or get top_players from csv, to reduce API calls
player_odds_df = pd.read_csv("all_matches_player_odds.csv", index_col=0)
player_odds_df.head()

,WTA,Location,Tournament,Date,Tier,Court,Surface,Round,Best of,WinLoseName,...,Comment,AvgWL,ATP,Series,win,LPts,Name,Rank,wealthy_parents,parent_on_wiki
0,1.0,Auckland,ASB Classic,31/12/2018,International,Outdoor,Hard,1st Round,3.0,Puig M.,...,Completed,1.37,0.0,0,True,0.0,NaN,0.0,Flase,False
1,1.0,Auckland,ASB Classic,31/12/2018,International,Outdoor,Hard,1st Round,3.0,Davis L.,...,Completed,1.50,0.0,0,True,0.0,Lauren Davis,58.0,False,True
2,1.0,Auckland,ASB Classic,31/12/2018,International,Outdoor,Hard,1st Round,3.0,Kuzmova V.,...,Completed,1.62,0.0,0,True,0.0,NaN,0.0,Flase,False
3,1.0,Auckland,ASB Classic,31/12/2018,International,Outdoor,Hard,1st Round,3.0,Bouchard E.,...,Completed,1.53,0.0,0,True,0.0,NaN,0.0,Flase,False
4,1.0,Auckland,ASB Classic,31/12/2018,International,Outdoor,Hard,1st Round,3.0,Sorribes Tormo S.,...,Completed,2.35,0.0,0,True,0.0,NaN,0.0,Flase,False

In [43]:
# populate court table

unique_values_df = pd.DataFrame(player_odds_df['Court'].drop_duplicates())
unique_ids = pd.RangeIndex(start=1, stop=len(unique_values_df) + 1)
unique_values_df.insert(0, 'ID', unique_ids)

data = unique_values_df.values.tolist()

%sql DELETE FROM Courts

for row in data:
    trow = tuple(row)
    sql = "INSERT INTO Courts VALUES {}".format(trow)   # Use string formatting
    %sql $sql

 * sqlite:///./158739Assignment3
2 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.

In [44]:
# populate Locations table
unique_values_df = pd.DataFrame(player_odds_df['Location'].drop_duplicates())
unique_ids = pd.RangeIndex(start=1, stop=len(unique_values_df) + 1)
unique_values_df.insert(0, 'ID', unique_ids)

data = unique_values_df.values.tolist()

%sql DELETE FROM Locations

for row in data:
    trow = tuple(row)
    sql = "INSERT INTO Locations VALUES {}".format(trow)   # Use string formatting
    %sql $sql

 * sqlite:///./158739Assignment3
0 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.
 * sqlite:///./158739Assignment3
1 rows affected.