In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from typing import Union
import seaborn as sns
import datetime
import requests
from bs4 import BeautifulSoup

# 158739 Assignment 4 - Does having wealthy parents make you a better tennis player?

#### Student name: James Evans and Hayley Wikeepa
#### Student ID: 12211872 & 19034759


# Introduction



Does having wealth parent make you a better tennis player? There are lots of ways to analise this. We can look at if the current world top tennis players are mostly from wealth families. We can look if being from a wealthy family makes it more likely you will win when playing profesional tennis. Assuming this is true we can look if having wealthy parents is "priced in" to the betting odds when betting on tennis matches.

Two things that make us wonder about tennis and wealthy parents. Firstly there are two of the top 100 woman tennis players have billionare parent. Second a tweet one of us saw wondering why so many formula one drivers fathers have hyperlinks in wikipedia (hinting that you need a rich father to become a formular 1 driver).





#### Datasets used:
- ATP (Mens profesional tennis assossiation) and WTA (Womens profesional tennis assossiation) tennis player lists
- Tennis results from the years 2019 - 2023
- Tennis betting odds from the years 2019 - 2023
- List of tennis players that have wiki pages, and a boolean if there parents have wiki pages
- chat gpt answers to the question "did this tennis player have wealthy parents?"


#### Dataset sources: 

- http://www.tennis-data.co.uk/alldata.php
- Wikipedia
- ChatGPT


### Research Questions

1. Is having wealth parents a predictor of becoming a profectional tennis player?
2. Is having wealth parents a predictor of future sucssess as a profectional tennis player?
3. Is there money to be made by taking into account if a tennis player has wealth parents, when betting on a tennis mathches?


### Executive Summary

## What do we need to achive?


### Ideas of what we could find out

First we could see if there is a disporportinate amount of pro tennis players that have wealth parents (I am sure there will be).

Would could see if there is a correlation between rich partents and tennis success when playing as a pro (look at results from pro matches). 
we could look at win % vs wealthy parents

If answer is yes, wealth parents make you play better as a pro, then we can look to see if this is taken into account in the betting odds.
For each player, we could work out how much you would have won / lost, if you had bet a constant amount on that player, over there last x number of games. We can then have a way of saying who is a profitable player and who is an unprofitable player to bet on. We can then see if this correlates with if they have rich/famous parents.


### Marking info

- Data Acquisition -     20
    * Diversity of sources (at least one must be dynamic – full marks for using both APIs and web scraping – penalties will be applied for re-using examples from class)
    * Appropriate use of merging and concatenation.
    
- Data Wrangling and EDA  -  30
- Data Analysis -  35
- Originality and challenge 15

BONUS
- Big Data ProcessingTechniques - 5

### Other notes from the brief
Clearly introduce your problem domain, articulate your research questions and provide an executive summary at the beginning. Follow the provided Jupyter notebook template.
You must document and explain the reasoning behind the coding steps you are taking and provide explanations of all your graphs and tables as is appropriate. Make sure you label all aspects of your graphs.
The activities listed under the five stages in the workflow diagram above are a guide only. This means that operations like group-by statements as well as pivot tables could be a part of the ‘Data Wrangling’ phase as EDA, and not only a part of the data analysis phase. Finally, please run your report through an external spell checker and feel free to use ChatGPT judiciously to help you as discussed in class.

In [110]:
# initialise APIs

api_key = '8556d4b2f5mshddae5c2b7778158p1b7b83jsn131f0acf695b'

# initialise https://rapidapi.com/sportcontentapi/api/ultimate-tennis1 API
ultimate_tennis_headers =  {
    'X-RapidAPI-Key': api_key,
    'X-RapidAPI-Host': 'ultimate-tennis1.p.rapidapi.com'
}

#### Initialise functions

In [3]:
#Function returns true if ChatGPT things a tennis player had wealth parents (top 1% weath in there country).
#function created by Chat GPT and modified by us.

#Note/ function cost about $0.0002 each time it is run. 

API_ENDPOINT = "https://api.openai.com/v1/chat/completions"
API_KEY = "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"
MODEL_NAME = "gpt-3.5-turbo"

def determine_wealthy_parents(tennis_player_name, country):
    headers = {
        "Content-Type": "application/json",
        "Authorization": f"Bearer {API_KEY}"
    }
    data = {
        "messages": [
            {"role": "system", "content": "You are a helpful assistant who only ever responds with yes or no answers. If you do not have enough information, answer no. Wealthy means the parents were probably in the top 1% of people in there country."},
            {"role": "user", "content": f"Did the tennis player {tennis_player_name}, from {country}, have wealthy parents?"}
        ],
        "model": MODEL_NAME
    }
    response = requests.post(API_ENDPOINT, headers=headers, json=data)
    response_json = response.json()
    #print (response_json)
    try:
        chat_reply = response_json['choices'][0]['message']['content']
        # You can modify the condition below based on the expected response from the model
        if "yes" in chat_reply.lower():
            return True
        elif "no" in chat_reply.lower():
            return False
        else:
            return None  # Unable to determine the response
    except KeyError:
        return None  # Invalid response format

In [4]:
# scraping wiki to find parents. We can use this to check out results from Chat GPT

#Todo// Get this working. Currently isssue with find_next_sibling method not returning the info we want.

def parents_have_wiki(url):
    parents = []  # initialize the parents list
    last_name = None  # initialize the last name variable
    
    # Make a request to the URL and get the HTML response
    response = requests.get(url)
    html = response.content
    
    # Parse the HTML with BeautifulSoup
    soup = BeautifulSoup(html, 'html.parser')
    
    # Find the "Personal life" or "Early life" or "Personal info" section on the page
    personal_life_section = soup.find('span', {'id': 'Early_life'})
    if personal_life_section is None:
        personal_life_section = soup.find('span', {'id': 'Personal_life'})
    if personal_life_section is None:
        personal_life_section = soup.find('span', {'id': 'Personal_info'})
       
    # Look for parents in the infobox
    infobox = soup.find('table', {'class': 'infobox'})
    if infobox:
        for row in infobox.find_all('tr'):
            th = row.find('th')
            if th and 'Parent' in th.text:
                td = row.find('td')
                for link in td.find_all('a'):
                    href = link.get('href')
                    if href and '/wiki/' in href and 'Wikipedia:' not in href:
                        # Add the parent's URL to the list
                        parents.append(href) 
    
    # Look for parents in the "Personal life" section
    if personal_life_section is not None:
        personal_life_content = personal_life_section #.parent.find_next_sibling('div', {'class': 'hatnote'})
        #print("persona life content" + personal_life_content.text)
        if personal_life_content is not None:
            for link in personal_life_content.find_next('p').find_all('a'):
                href = link.get('href')
                #print(href)
                if href and '/wiki/' in href and 'Wikipedia:' not in href:
                    # Check if the hyperlink points to a person with the same last name
                    link_text = link.text
                    #print(link_text)
                    if last_name is None:
                        # Get the last name of the person whose page we're on
                        name = soup.find('h1', {'id': 'firstHeading'}).text
                        last_name = name.split()[-1]
                        print(last_name)
                    if last_name in link_text:
                        # Add the parent's URL to the list
                        parents.append(href)
    
    # Check if a parent has a Wikipedia page
    for parent in parents:
        parent_url = 'https://en.wikipedia.org' + parent
        parent_response = requests.get(parent_url)
        parent_soup = BeautifulSoup(parent_response.content, 'html.parser')
        parent_title = parent_soup.find('h1', {'id': 'firstHeading'}).text
        if parent_title != 'Wikipedia':
            # Check if the parent's page exists
            return True
    
    return False

In [ ]:
#This method assumes the "players_id" and "win" are colunms in the matches_df.
#This method returns a players win ratio

def win_ratio(players_id,matches_df):
    # get dataframe of just this players matches
    this_playes_matches = matches_df[matches_df["players_id"] == players_id]
    # return win loss ratio 
    return len(this_playes_matches[this_playes_matchesm["win"] == True])/len(this_playes_matches)

In [ ]:
#This method assumes the "players_id", "odds", and "win" are colunms in the matches_df.
#This method returns the betting multiplyer for a player. It assumes the same value if bet on each match. 
#The bet being to win the match


def betting_returns(players_id,matches_df):
    this_playes_matches = matches_df[matches_df["players_id"] == players_id]
    for index, row in this_playes_matches.iterrows():
        if this_playes_matches.at[index, 'id'] == True:
            betting_return = betting_return + this_playes_matches.at[index, 'odds']
        else:
            betting_return = betting_return - 1
            
    return betting_return

### All API calls

In [125]:
ultimate_tennis_headers = {
	"X-RapidAPI-Key": '8556d4b2f5mshddae5c2b7778158p1b7b83jsn131f0acf695b'
	"X-RapidAPI-Host": "ultimate-tennis1.p.rapidapi.com"
}

#### All ATP player rankings

In [135]:
url = "https://ultimate-tennis1.p.rapidapi.com/rankings/atp/singles/200/current"

top_atp_response = requests.get(url, headers=ultimate_tennis_headers)
top_atp_response = pd.DataFrame(top_atp_response.json()['data'])

#### All WTA player rankings

In [142]:
url = "https://ultimate-tennis1.p.rapidapi.com/rankings/wta/singles/200/current"

top_wta_response = requests.get(url, headers=ultimate_tennis_headers)
top_wta_response = pd.DataFrame(top_wta_response.json()['data'])

### read csv files
notes on what each column means can be found in ../datasets/datasets_notes.txt

data taken from [tennis-data](http://www.tennis-data.co.uk/alldata.php)

In [5]:
wta2019_tornament_matches = pd.read_csv('datasets/2019wta.csv')
wta2020_tornament_matches  = pd.read_csv('datasets/2020wta.csv')
wta2021_tornament_matches  = pd.read_csv('datasets/2021wta.csv')
wta2022_tornament_matches  = pd.read_csv('datasets/2022wta.csv')
wta2023_tornament_matches  = pd.read_csv('datasets/2023wta.csv')

In [6]:
wta_dfs = [wta2019_tornament_matches , wta2020_tornament_matches , 
           wta2021_tornament_matches , wta2022_tornament_matches , 
           wta2023_tornament_matches ]
wta_tournament_matches_wOdds = pd.concat(wta_dfs)

In [7]:
atp2019_tornament_matches  = pd.read_csv('datasets/2019atp.csv')
atp2020_tornament_matches  = pd.read_csv('datasets/2020atp.csv')
atp2021_tornament_matches  = pd.read_csv('datasets/2021atp.csv')
atp2022_tornament_matches  = pd.read_csv('datasets/2022atp.csv')
atp2023_tornament_matches  = pd.read_csv('datasets/2023atp.csv')

In [8]:
atp_dfs = [atp2019_tornament_matches , atp2020_tornament_matches , atp2021_tornament_matches , atp2022_tornament_matches , atp2023_tornament_matches ]
atp_tournament_matches_wOdds = pd.concat(atp_dfs)

### DataFrame edits

#### Get  top 200 ATP and WTA players into a single DataFrame

In [153]:
# edit ATP dataframe to show basic player details

top_atp_response.set_index('id', inplace=True)

top_atp_response = top_atp_response.drop(['Rank Diff', 'Age', 'Points'], axis=1)

In [177]:
top_atp_response["Association"] = "ATP"

In [159]:
# edit WTA players dataframe to show basic player details

# drop and normalise some columns
top_wta_response = top_wta_response.drop(['country', 'movement', 'rankedAt', 'points', 'tournamentsPlayed'], axis=1)
top_wta_response.rename(columns={'ranking': 'Rank'}, inplace=True)
top_wta_response.rename(columns={'name': 'Name'}, inplace=True)

top_wta_response.set_index('ID', inplace=True)
top_wta_response["Association"] = "WTA"

In [ ]:
top_players = pd.concat([top_atp_response, top_wta_response])

In [170]:
top_players = top_players.rename_axis('ID')
top_players.head()

                    Name  Rank Association
a0e2      Carlos Alcaraz     1         ATP
mm58     Daniil Medvedev     2         ATP
d643      Novak Djokovic     3         ATP
rh16         Casper Ruud     4         ATP
te51  Stefanos Tsitsipas     5         ATP

#### edit tournaments with odds DataFrames

In [9]:
# join wta & atp tournament with betting odds DataFrames
all_tournament_matches_wOdds = pd.concat([wta_tournament_matches_wOdds, atp_tournament_matches_wOdds])

In [11]:
# create unique index for all tournamnets with odds
all_tournament_matches_wOdds['index'] = all_tournament_matches_wOdds['WTA'].astype(str) + '_' + all_tournament_matches_wOdds['ATP'].astype(str) + '_' + all_tournament_matches_wOdds['Tournament'].astype(str)
all_tournament_matches_wOdds.set_index('index', inplace=True)

In [ ]:
#### Players

In [ ]:
# add a wealthy_parent column

top_players["wealthy_parents"] = None
top_players["country"] = None

In [ ]:
#loop through all players and find if chatGPT thinks they had wealthy parents

for index, row in top_players.iterrows():
    player_name = row['Name']
    country = row['country']
    wealthy_parents = determine_wealthy_parents(player_name, country)
    top_players.at[index, 'wealthy_parents'] = wealthy_parents
    #print(player_name + " weathly parents is " + str(wealthy_parents))
    
# top_players.head()

## Limitations of chatGPT results
Better tennis players will have more written about them and their families. A large language model will have more infomation about them. This may skew the results, because there may be players who are not so good at tennis, but who still have wealthy parents, but there is not enough info about them so chatGPT will say no.

## How to check the ChatGPT results?
To check how accurate they are we will querry wiki to see what players have parents with wiki pages. We can the compare to see if chat gpt say all players that have parents that have wiki pages are weatlth, then this gives us some evendence that chat GPT is telling the truth. 

We are only looking a general trends so we only need chatGPT to be "about right", it does not need to be 100% accurate to allow us to get some idea if wealth parents play a role.

In [243]:
# add a parent_on_wiki column

top_players["parent_on_wiki"] = None
# top_players.head()

In [ ]:
# scrape wiki for parents hyperlinks
#this takes a longtime.

def check_wikipedia_url(url):
    response = requests.head(url)
    if response.status_code == 200:
        return True
    else:
        return False

for index, row in top_players.iterrows():
    top_players[['First Name', 'Last Name']] = top_players['Name'].str.split(n=1, expand=True)
    player_name = row['First Name']+ '_' +row['Last Name']
    wiki_url = "https://en.wikipedia.org/wiki/" + str(player_name)
    
    if check_wikipedia_url(wiki_url):
        wiki_parents = parents_have_wiki(wiki_url)
        top_players.at[index, 'parent_on_wiki'] = wiki_parents
        
# top_players.head()


## Interesting things to note about the wiki parents method.
 It also picks up syblings that are famous (example Elias_Ymer, who had a tennis playing sybbling), and otehr family members (example Raffa's uncle who is famous for being Raffa's coach).
It also sometimes picks up the wiki page of someone who shares the same name as the tennis player. Example Alexander Zhurbin https://en.wikipedia.org/wiki/Alexander_Zhurbin the musician vs the tennis player https://en.wikipedia.org/wiki/Alexander_Zhurbin_(tennis)

## Checking chatGPT
results

In [239]:
#Check if all players with wiki_parents are considered to have wealthy parents by chatGPT.

#this returns all rows where a player has wiki parents but they are not wealthy


all_wiki_parents = players_df[players_df['parent_on_wiki']==True]

test_wiki_vs_chatGPT = all_wiki_parents[all_wiki_parents['wealthy_parents']==False]
test_wiki_vs_chatGPT.head()

Empty DataFrame
Columns: [first_name, last_name, full_name, country, wealthy_parents, parent_on_wiki]
Index: []

In [30]:
#Lets see what percentage the above faulse hits were compared to all players with wiki_parents
all_wiki_parents = players_df[players_df['parent_on_wiki']==True]
all_wiki_parents.head()

#Todo// Make a info graphic about this

,first_name,last_name,full_name,country,wealthy_parents,parent_on_wiki
id,,,,,,
86928,Rafael,Nadal,Rafael Nadal,Spain,True,True
96078,Mischa,Zverev,Mischa Zverev,Germany,True,True
782412,Reilly,Opelka,Reilly Opelka,USA,False,True
788664,Michael,Mmoh,Michael Mmoh,USA,True,True
501978,Elias,Ymer,Elias Ymer,Sweden,False,True
343746,Hugo,Dellien,Hugo Dellien,Bolivia,False,True
715500,Casper,Ruud,Casper Ruud,Norway,True,True
97728,Lukas,Rosol,Lukas Rosol,Czech Republic,False,True
451434,Mats,Moraing,Mats Moraing,Germany,False,True
912300,Mikael,Ymer,Mikael Ymer,Sweden,False,True
482958,Ernesto,Escobedo,Ernesto Escobedo,Mexico,False,True
734220,Tallon,Griekspoor,Tallon Griekspoor,Netherlands,False,True
327450,Federico,Coria,Federico Coria,Argentina,False,True
97164,Illya,Marchenko,Illya Marchenko,Ukraine,False,True
1211094,Raul,Brancaccio,Raul Brancaccio,Italy,False,True
151146,Austin,Krajicek,Austin Krajicek,USA,False,True
1228596,Jacopo,Berrettini,Jacopo Berrettini,Italy,False,True
574986,Julian,Ocleppo,Julian Ocleppo,Italy,False,True
396024,Laurent,Lokoli,Laurent Lokoli,France,False,True
290466,Alexander,Zhurbin,Alexander Zhurbin,Russia,False,True
1326084,Francisco,Cerundolo,Francisco Cerundolo,Argentina,False,True
336534,Aleksandre,Metreveli,Aleksandre Metreveli,Georgia,False,True
748260,Daniel,Cukierman,Daniel Cukierman,Israel,False,True
113472,Caroline,Wozniacki,Caroline Wozniacki,Denmark,True,True
109536,Serena,Williams,Serena Williams,USA,True,True
115908,Dominika,Cibulková,Dominika Cibulková,Slovakia,False,True
109518,Venus,Williams,Venus Williams,USA,True,True
245976,Daria,Saville,Daria Saville,Australia,False,True
116574,Coco,Vandeweghe,Coco Vandeweghe,USA,True,True
269016,Jessica,Pegula,Jessica Pegula,USA,True,True
401820,Veronika,Kudermetova,Veronika Kudermetova,Russia,False,True
1198752,Olga,Danilovic,Olga Danilovic,Serbia,False,True
302178,Allie,Kiick,Allie Kiick,USA,True,True
923172,Martina,Trevisan,Martina Trevisan,Italy,False,True
119604,Asia,Muhammad,Asia Muhammad,USA,False,True
248244,Lauren,Davis,Lauren Davis,USA,False,True
1513020,Clara,Tauson,Clara Tauson,Denmark,False,True
793128,Seone,Mendez,Seone Mendez,Australia,False,True
1245570,Nuria,Brancaccio,Nuria Brancaccio,Italy,False,True
2017344,Erika,Andreeva,Erika Andreeva,Russia,False,True
1763220,Polina,Kudermetova,Polina Kudermetova,Russia,False,True
1967556,Alexandra,Eala,Alexandra Eala,Philippines,False,True
2440668,Mirra,Andreeva,Mirra Andreeva,Russia,False,True

In [36]:
#Check if all players with wiki_parents are considered to have wealthy parents by chatGPT.

#this returns all rows where a player has wiki parents but they are not wealthy

all_wealthy_parents = players_df[players_df['wealthy_parents']==True]
test_chatGPT_vs_wiki = all_wealthy_parents[all_wealthy_parents['parent_on_wiki']==False]
test_chatGPT_vs_wiki

,first_name,last_name,full_name,country,wealthy_parents,parent_on_wiki
id,,,,,,
342990,Alexander,Zverev,Alexander Zverev,Germany,True,False
86064,Roger,Federer,Roger Federer,Switzerland,True,False
94410,Kei,Nishikori,Kei Nishikori,Japan,True,False
262500,Dominic,Thiem,Dominic Thiem,Austria,True,False
734208,Stefanos,Tsitsipas,Stefanos Tsitsipas,Greece,True,False
...,...,...,...,...,...,...
624030,Gozal,Ainitdinova,Gozal Ainitdinova,Kazakhstan,True,False
316182,Angelica,Moratelli,Angelica Moratelli,Italy,True,False
1171902,Lina,Glushko,Lina Glushko,Israel,True,False
1911462,Diana,Shnaider,Diana Shnaider,Russia,True,False
1632012,Kristina,Dmitruk,Kristina Dmitruk,Belarus,True,False

## Results of checking wealth via chatGPT vs wiki parents

The above shows that the two methods of telling if a parent is wealthy do not align, as they have not agreeded with each other. 

There are not a huge amount of rows in either disputed list so by manually checking 5 of them from each list it seems the chat GPT results are more accurate. It seems the main problem with the wiki results is that it more often pulls up other family members other than the parents. 

due to this desk top evaluation we will use the chatGPT results for the rest of the analysis, noting that they have not been well checked.

## Do tennis players are more likely to have wealth parents that the general population:

Find % of players with weathy parent.
Compare this to general population. We said to chat GPT to use weathy as to 1%, so lets see how this compares to our sample of players.

In [32]:
percentage_wealthy = players_df['wealthy_parents'].mean() * 100
percentage_wealthy

4.804974561899378

5% > 1% so this sugests that tennis players are more often from wealthy families.

#### Merge all DataFrames into one

In [153]:
# get first initial from players_df players to check against tornament details
test_chatGPT_vs_wiki['first_initial'] = test_chatGPT_vs_wiki['first_name'].str[0]

all_tournament_matches_wOdds[['last_name','first_initial']] = all_tournament_matches_wOdds['Winner'].str.split(' ', n=1, expand=True)
all_tournament_matches_wOdds['first_initial'] = all_tournament_matches_wOdds['first_initial'].str.extract(r'(\w)')

In [160]:
# join player_df and tournament odds dataframes into one
player_odds_df = test_chatGPT_vs_wiki.merge(all_tournament_matches_wOdds, on=['first_initial', 'last_name'])
player_odds_df = player_odds_df.drop(['full_name', 'first_initial', 'Winner'], axis=1)

# remove the one tournament without odds
player_odds_df.drop(index=455, inplace=True)

# create csv with all players and odds
player_odds_df.to_csv('all players tournaments odds.csv')

## Do players with wealthy parents have a better win ratio?
### Popuate players_df with win_ratio

In [ ]:
#this assumes that the df that contains all the matches split so one row one player is called "all_tournament_matches_wOdds_split"

players_df["win_ratio"] = None
for index, row in players_df.iterrows():
    players_df.at[index, 'win_ratio'] = win_ratio(players_df.at[index, 'id'], all_tournament_matches_wOdds_split)

### Find out if the average win_ratio is higer if the parents are wealthy

In [ ]:
wealthy_parents_players_df = players_df[players_df[wealthy_parents] == True]
average_win_ratio_wealthy_parents = wealthy_parents_players_df["win_ratio"].mean()
print("Players with wealth parents have a win ratio of " + str(average_win_ratio_wealthy_parents))

not_wealth_parents_players_df = players_df[players_df[wealthy_parents] == False]
average_win_ratio_not_wealthy_parents = not_wealth_parents_players_df["win_ratio"].mean()
print("Players who do not have wealth parents have a win ratio of " + str(average_win_ratio_not_wealthy_parents))